ALBUMS = []


# topic name (what shows in cytoscape)
TOPIC = ""
# review name (could be longer/descriptive)
TITLE = ""

# metadata labels. can be used for grouping/layouts later.
META: list[str] = []

# text content. Formatted as markdown in the frontend.
BODY = """
"""