# magic to get direnv to read .envrc files
# could also use `export $(cat .env | xargs)`
# but that doesn't seem to like commented lines
set -a # automatically export all variables
source .env
set +a
